  
* {
    touch-action: none;
}

html, body {
    background-color: black;
    color: white;
    margin: 0;
    font-size: 36pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 1em;
}

h1 {
    margin: 0 0 .5em 0;
    font-family: Wallpoet, sans-serif;
    color: white;
    text-align: center;
    font-size: 48pt;
    font-weight: normal;
}

#game {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 18pt;
}

#gameboard, #palette {
    display: grid;
    grid-gap: 0.5em;
    background-color: #282828;
    padding: .5em;
}

#gameboard.win, #gameboard.win > * {
    filter: invert();
}

#palette {
    background-color: black;
}

.gameboard4, .palette4 {
    grid-template-columns: repeat(8, 1fr);
}

.gameboard5, .palette5 {
    grid-template-columns: repeat(9, 1fr);
}

.gameboard6, .palette6 {
    grid-template-columns: repeat(10, 1fr);
}

#gameboard > *, #palette > * {
    width: 100%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border-radius: 50%;
    padding: .2em;
    position: relative;
}

#palette > * {
    box-shadow: none !important;
    filter: saturate(1) !important;
}

.gameboard4 > * {
    box-shadow: inset 0 0 calc((100vw - 3em) / (8 * 3)) black;
}

.gameboard5 > * {
    box-shadow: inset 0 0 calc((100vw - 3em) / (9 * 3)) black;
}

.gameboard6 > * {
    box-shadow: inset 0 0 calc((100vw - 3em) / (10 * 3)) black;
}

.gameboard4 > *:nth-child(8n-7), .palette4 > *:nth-child(8n-7) {
    box-shadow: none !important;
}

.gameboard4 > *:nth-child(8n-2), .palette4 > *:nth-child(8n-0) {
    box-shadow: none !important;
}

.gameboard5 > *:nth-child(9n-8),
.palette5 > *:nth-child(9n-8)
{
    box-shadow: none !important;
}

.gameboard5 > *:nth-child(9n-2) {
    box-shadow: none !important;
}

.gameboard6 > *:nth-child(10n-9)
{
    box-shadow: none !important;
}

.gameboard6 > *:nth-child(10n-2) {
    box-shadow: none !important;
}

#gameboard > .yellow, #palette > .yellow  {
    box-shadow: none !important;
    /* box-shadow: inset 0 0 calc(((100vw - 3em) / 8) / 10) rgba(0,0,0,.5); */
    background-color: yellow;
    /* filter: saturate(2); */
}

#gameboard > .green, #palette > .green {
    box-shadow: none !important;
    /* box-shadow: inset calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / 5) rgba(0,0,0,.5); */
    background-color: lightgreen;
    /* filter: saturate(2); */
}

#gameboard > .red, #palette > .red {
    box-shadow: none !important;
    /* box-shadow: inset calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / 5) rgba(0,0,0,.5); */
    background-color: red;
    /* filter: saturate(1.5); */
}

#gameboard > .cyan, #palette > .cyan {
    box-shadow: none !important;
    /* box-shadow: inset calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / 5) rgba(0,0,0,.5); */
    background-color: cyan;
    /* filter: saturate(1.5); */
}

#gameboard > .violet, #palette > .violet {
    box-shadow: none !important;
    /* box-shadow: inset calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / 5) rgba(0,0,0,.5); */
    background-color: violet;
    /* filter: saturate(2); */
}

#gameboard > .orange, #palette > .orange {
    box-shadow: none !important;
    /* box-shadow: inset calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / 5) rgba(0,0,0,.5); */
    background-color: orange;
    /* filter: saturate(2); */
}

#gameboard > .pink, #palette > .pink {
    box-shadow: none !important;
    /* box-shadow: inset calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / 5) rgba(0,0,0,.5); */
    background-color: pink;
    /* filter: saturate(2); */
}

#gameboard > .brown, #palette > .brown {
    box-shadow: none !important;
    /* box-shadow: inset calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / 5) rgba(0,0,0,.5); */
    background-color: brown;
    /* filter: saturate(2); */
}

#gameboard > .purple, #palette > .purple {
    box-shadow: none !important;
    /* box-shadow: inset calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / 5) rgba(0,0,0,.5); */
    background-color: purple;
    /* filter: saturate(2); */
}

#gameboard > .royalblue, #palette > .royalblue {
    box-shadow: none !important;
    /* box-shadow: inset calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / 5) rgba(0,0,0,.5); */
    background-color: royalblue;
    /* filter: saturate(2); */
}


#gameboard > .white {
    box-shadow: none !important;
    /* box-shadow: inset calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / 5) rgba(0,0,0,.5); */
    background-color: white;
    color: black;
    /* filter: brightness(1.25); */
}

#gameboard > .black {
    box-shadow: none !important;
    /* box-shadow: inset calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / -10) calc(((100vw - 3em) / 8) / 5) rgba(0,0,0,.5); */
    background-color: #808080;
    color: white;
    /* filter: saturate(2); */
}

#palette > *.selected {
    border: .2em solid white;
}

figure {
    font-size: .8em;
    text-align: center;
}

#rules {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-size: .8em;
    padding: 1em;
    border: 3px solid ridge gray;
    overflow: auto;
    background-color: black;
}

#rules #close {
    position: fixed;
    right: 3px;
    top: 3px;
    padding: .2em .4em;
    border-radius: .25em;
    line-height: 1;
    color: white;
    background-color: red;
}

#rules img {
    width: 80%;
}

.show {
    display: block !important;
}

.disable {
    color: gray !important;
    background-color: black !important;
    border-color: darkgray !important;
}

.border {
    background-color: #202020;
}

#options {
    margin-top: 2em;
    text-align: center;
}

#options > * {
    margin-left: .5ch;
    margin-right: .5ch;
    font-size: 1rem;
}

#options button {
    border-radius: .5em;
    padding: 0 .5em;
}

#solve {
    background-color: #00ff00;
    color: black;
    border-color: #00cc00
}

#gameboard > * > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameboard4 > * > * {
    font-size: calc((100vw - 3em) / 8 * .75);
}

.gameboard4 > * > * {
    font-size: calc((100vw - 3em) / 9 * .75);
}

.gameboard4 > * > * {
    font-size: calc((100vw - 3em) / 10 * .75);
}

@media screen and (orientation: landscape) {
    html, body {
        font-size: 18pt;
    }

    body, #rules {
        padding-left: 35%;
        padding-right: 35%;
    }

    #gameboard > * {
        box-shadow: inset 0 0 calc((100vw - 3em - 70vw) / (6 * 3)) black;
    }

    .gameboard4 > * > * {
        font-size: calc((100vw - 3em - 70vw) / 8 * .6);
    }
    
    .gameboard5 > * > * {
        font-size: calc((100vw - 3em - 70vw) / 9 * .6);
    }
    
    .gameboard6 > * > * {
        font-size: calc((100vw - 3em - 70vw) / 10 * .6);
    }
}